.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-buttons {
    display: flex;
    align-items: center;
  }
  
  .logout-button,
  .login-button {
    padding: 8px 16px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: red;  
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover,
  .login-button:hover {
    background-color: #0097a7;
  }
  